.community_page{
    display: flex;
    width: 92vw;

    padding: 2vh 4vw;
}

.community_space{
    display: flex;
    flex-direction: column;
    width: 65%;
    padding-right: 2.5%;
    border-right: 1px solid black;
}

.suggestion_space{
    width: 30%;
    margin-left: 2.5%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.resource_center{
    display: flex;
    margin-top: 2vh;
}

.resource_filters{
    display: flex;
    flex-direction: column;
    padding-right: 10%;
    border-right: 1px solid black;
    gap: 1vh;
}

.resources_box{
    margin-left: 2.5%;
    margin-top: 2.5%;
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 2vh;
}

.resource_card{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

.resource_card img{
    width: 100px;
    object-fit: contain;
}

.resource_card:hover{
    background-color: black;
    filter: brightness(0.8);
}

.resource_info h2, .resource_info p{
margin: 0;
}

.resource_info p{
    font-size: 0.9rem;
}

.safe_cards{
    padding: 5px 20px;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 5px;
}

.safe_space{
    height: 35vh;
    border-bottom: 1px solid black;
    overflow-y: auto;
    padding-bottom: 2vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    position: relative;
}

.filter{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px 20px;
    background-color: rgb(233, 233, 233);
    border-radius: 5px;
    cursor: pointer;
}

.filter_block{
    width: 20px;
    height: 20px;
    background-color: rgb(201, 201, 201);
}

.filter p{
    margin: 0;
}

.mobile_only{
    display: none;
}

/* This media query targets devices with a maximum width of 600px */
@media only screen and (max-width: 600px) {
    .community_page{
        display: flex;
        width: 92vw;
        padding: 2vh 4vw;
    }
    
    .community_space{
        width: 92vw;
        border: none;
        padding: 0;
    }
    .suggestion_space{
        display: none;
        width: 83vw;
        padding-bottom: 2vh;
        border-bottom: 1px solid black;
    }
    .mobile_only{
        display: flex;
    }
    .resource_filters{
        display: none;
    }
    .resources_box{
        width: 83vw;
    }
  }
  

  .ActiveFilter{
    background-color: rgb(108, 208, 108);
  }

  .ActiveFilter .filter_block{
    background-color: black;
  }

  .add_btn svg{
    position: absolute;
    right: 0;
    top: 0%;
    width: 42px;
    height: 38px;
    cursor: pointer;
    stroke-width: 0.5;
    fill: white;
    stroke: black;
  }
  .add_btn{
    position: absolute;
    right: 0;
    top: 5%;
    width: 42px;
    height: 38px;
    cursor: pointer;
    stroke-width: 0.5;
    background-color: transparent;
  }
  .add_btn:hover{
    outline: none;
    border: none;
  }
  .add_btn svg:hover{
    fill: black;
    stroke: white;
  }

  .safe_input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    width: 200px;
    background-color: white;
    border: 1px solid black;
    gap: 20px;
  }

  .safe_input input{
    padding: 10px;
    background-color: white;
    color: black;
  }

  .timeslot_box{
    position: fixed;
    height: 40vh;
    width: 20vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    top: 30%;
    left: 30%;
    padding: 20px;
    border: 1px solid black;
    gap: 10px;
  }

  .timeslots{
    border: 1px solid black;
    padding: 0 20px;
    cursor: pointer;
  }
  .timeslots:hover{
    background-color: rgb(215, 215, 215);
  }